main {
  background-color: white;
}

main img {
  max-width: 100%;
}

.main-image-section {
  height: 600px;
  width: 100%;
  background-image: url(../assets/images/image_ai_9.jpg);
  background-size: cover;
  background-position: 0 -100px;
  box-shadow: 12px 8px 12px rgba(0, 0, 0, 0.35);
}

.main-section {
  display: flex;
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin-bottom: 3rem;
}

.main-section h3 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.main-section > p {
  margin-bottom: 6rem;
  font-size: 2.3rem;
  text-align: center;
}

.main-section .categories {
  display: flex;
  justify-content: space-between;
}
.main-section .categories .cat {
  font-size: 2rem;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.main-section .ellipse {
  width: 200px;

  height: 200px;
}

.main-section .ellipse img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 12px 8px 12px rgba(0, 0, 0, 0.35);
  transition: all 0.3s;
}

.main-section .ellipse img:hover {
  transform: translateY(-20px) scale(1.05);
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.75);
}

.divider-section {
  margin: 6rem 0;
}

.divider-section .blue {
  height: 30px;
  background-color: #0057b7;
}
.divider-section .yellow {
  height: 30px;
  background-color: #ffdd00;
}

.souvenir-section {
  display: flex;
  margin-bottom: 6rem;
}

.souvenir-section img {
  width: 50%;
  box-shadow: 12px 8px 12px rgba(0, 0, 0, 0.35);
}

.souvenir-section .text {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.souvenir-section h2 {
  font-size: 2.5rem;
}

.maps-section {
  margin-bottom: 5rem;
}

.maps-section iframe {
  margin-bottom: 5rem;
}

.maps-section .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maps-section h3 {
  font-size: 2.75rem;
  margin-bottom: 2rem;
}

.maps-section .info h3 {
  text-align: center;
}

.maps-section span {
  font-size: 3rem;
}

.maps-section button {
  font-size: 2.3rem;
  border: none;
  background-color: #ffdd00;
  padding: 1.75rem 3rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.krochas-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 3rem;
  /* color: white; */
  border-top: 5px solid #0057b7;
  border-bottom: 5px solid #ffdd00;
  margin-bottom: 3rem;
}

.krochas-section h3 {
  font-size: 2.3rem;
}

.krochas-section img {
  width: 320px;
  transition: all 0.5s;
}

.krochas-section img:hover {
  transform: translateY(-3px) scale(1.03);
}

.krochas-section > a {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  font-size: 2rem;
}

/* ------------ */
/* RESPONSIVE */
/* ------------ */

@media (max-width: 1024px) {
  .main-image-section {
    height: 300px;
    background-position: 0 -100px;
  }

  .main-section {
    padding: 5rem;
    margin-bottom: 0rem;
  }

  .main-section > p {
    margin-bottom: 5rem;
  }

  .main-section .categories .cat {
    gap: 3rem;
  }

  .divider-section {
    margin-bottom: 6rem;
  }

  .souvenir-section .text {
    padding: 5rem;
    gap: 3rem;
  }

  .maps-section button {
    font-size: 2.75rem;
    border: none;
    background-color: #ffdd00;
    padding: 1.75rem 4rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .main-image-section {
    height: 150px;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin-bottom: 3rem;
  }

  .main-section > p {
    margin-bottom: 7rem;
    text-align: justify;
  }

  .main-section .categories {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }
  .main-section .categories .cat {
    font-size: 2.2rem;
    width: 80%;
    margin-bottom: 5rem;
    text-align: justify;
  }

  .main-section .ellipse {
    width: 210px;
    height: 210px;
  }

  .main-section .ellipse img {
    width: 210px;
    height: 210px;
  }

  .souvenir-section {
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
  }

  .souvenir-section img {
    width: 90%;
  }

  .souvenir-section .text {
    padding: 4rem;
  }

  .maps-section h3 {
    font-size: 2.075rem;
    margin-bottom: 2rem;
  }

  .maps-section span {
    font-size: 2.25rem;
  }

  .maps-section button {
    font-size: 2.75rem;
    margin-top: 3rem;
  }

  .krochas-section img {
    width: 280px;
    transition: all 0.5s;
  }
}

@media (max-width: 475px) {
  .main-image-section {
    height: 220px;
  }

  .maps-section .info h3 {
    text-align: center;
  }

  .krochas-section img {
    width: 220px;
    transition: all 0.5s;
  }
}

.forget {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}
